{% extends 'NTEBogartBundle::layout.html.twig' %}

{% block title %}<title>{{ 'Taxon'|trans }} - BoGart</title>{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{ 'Taxons'|trans }} <small>{{ 'Liste des taxons'|trans }}</small></h1>
    </div>

    {% if pager is defined and pager.haveToPaginate %}
        <div class="row">
            <div class="col-xs-12 text-center">
                {{ pagerfanta(pager, 'twitter_bootstrap3', {'routeName': 'taxon_page'}) }}
            </div>
        </div>
    {% endif %}

    <div class="table-responsive">
        <table class="records_list table table-striped table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>{{ 'Nom'|trans }}</th>
                    <th>{{ 'Famille'|trans }}</th>
                    <th>{{ 'Nom français'|trans }}</th>
                    <th>{{ 'Nom allemand'|trans }}</th>
                    <th>{{ 'Catégories'|trans }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('taxon_show', { 'id': entity.id }) }}" class="btn btn-info btn-xs visible-xs-block"><i class="fa fa-eye"></i></a></td>
                        <td>{{ entity.nom }}</td>
                        <td>{{ entity.famille1 }}</td>
                        <td>{{ entity.nomFr }}</td>
                        <td>{{ entity.nomDe }}</td>
                        <td>{% for cat in entity.categorie %}{% if loop.index > 1 %}, {% endif %}{{ cat }}{% endfor %}</td>
                        <td><a href="{{ path('taxon_show', { 'id': entity.id }) }}" class="btn btn-info btn-sm hidden-xs"><i class="fa fa-eye"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if pager is defined and pager.haveToPaginate %}
        <div class="row">
            <div class="col-xs-12 text-center">
                {{ pagerfanta(pager, 'twitter_bootstrap3', {'routeName': 'taxon_page'}) }}
            </div>
        </div>
    {% endif %}

{% endblock %}
