{% extends 'NTEBogartBundle::layout.html.twig' %}

{% block title %}<title>{{ 'Taxon'|trans }} - BoGart</title>{% endblock %}
{% block taxons_active %}active{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        {% if app.request.query.get('search') %}
            <li><a href="{{ path('search_page_2', { 'search': app.request.query.get('search_params'), 'page': app.request.query.get('page') }) }}">{{ 'Recherche'|trans }}</a></li>
        {% else %}
            <li><a href="{{ path('taxon_page', { 'page': app.request.query.get('page') }) }}">{{ 'Taxons'|trans }}</a></li>
        {% endif %}
        <li class="active">{{ entity.nom }}</li>
    </ol>

    <div class="page-header">
        <h1>{{ entity.nom }} <small>Taxon</small></h1>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <dl class="dl-horizontal">
                <dt>{{ 'Nom'|trans }}</dt>
                <dd>{{ entity.nom }}</dd>
                <dt>{{ 'Nom fr'|trans }}</dt>
                <dd>{{ entity.nomFr }}</dd>
                <dt>{{ 'Nom de'|trans }}</dt>
                <dd>{{ entity.nomDe }}</dd>
                <dt>{{ 'Synonyme'|trans }}</dt>
                <dd>{{ entity.synonyme }}</dd>
                <dt>{{ 'Floraison'|trans }}</dt>
                <dd>{% for floraison in entity.floraison %}{{ floraison }}{% if not loop.last %}, {% endif %}{% endfor %}</dd>
                <dt>{{ 'Origine'|trans }}</dt>
                <dd>{{ entity.origines }}</dd>
                <dt>{{ 'Famille'|trans }}</dt>
                <dd>{{ entity.famille1 }}</dd>
                <dt>{{ 'Menace'|trans }}</dt>
                <dd>{{ entity.menace }}</dd>
                <dt>{{ 'Cites'|trans }}</dt>
                <dd>{{ entity.cites }}</dd>
                <dt>{{ 'Secteur(s)'|trans }}</dt>
                <dd>{% for collection in entity.collections %}{{ collection.secteur }}{% if not loop.last %}, {% endif %}{% endfor %}</dd>
                <dt>{{ 'Catégorie(s)'|trans }}</dt>
                <dd>{% for categorie in entity.categorie %}{{ categorie }}{% if not loop.last %}, {% endif %} {% endfor %}</dd>
            </dl>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="row">
                {% for photo in entity.fichiers %}
                <div class="col-xs-6 col-sm-4">
                    <a href="#" class="thumbnail">
                        {% media photo.media, 'small' %}
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
