{% extends 'NTEBogartBundle::layout.html.twig' %}
{% form_theme form 'NTEBogartBundle:Form:bootstrap_3_layout.html.twig' %}

{% block title %}<title>{{ 'Recherche'|trans }} - BoGart</title>{% endblock %}
{% block search_active %}active{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>{{ 'Recherche'|trans }}</h1>
    </div>

    <form action="{{ path('search') }}" method="post" {{ form_enctype(form) }}>

        {{ form_row(form.search, {'value': search}) }}

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                {{ form_row(form.secteur, {'value': secteur}) }}
                {{ form_row(form.origine, {'value': origine}) }}
                {{ form_row(form.floraison, {'value': floraison}) }}
            </div>
            <div class="col-xs-12 col-sm-6">
                {{ form_row(form.categories, {'value': categories}) }}
            </div>
        </div>

        {{ form_widget(form._token) }}

        <input type="submit" class="btn btn-primary btn-block" value="{{ 'Rechercher'|trans}}" />

    </form>

{% endblock %}
