{% extends 'NTEBogartBundle::parcours.html.twig' %}

{% block content %}
    <!-- PAGE INDEX -->
    <div data-role="page" id="liste">
        <div data-role="header" data-position="fixed" data-theme="b">
		    <h3>BoGart</h3>
		    <a href="{{ path('parcours') }}{% if(app.request.attributes.get('_locale') == 'de') %}/de/{% else %}/fr/{% endif %}" data-icon="home" data-iconpos="notext" data-direction="reverse" rel="external">Home</a>
	    </div>

        <div data-role="content">
            <h2>{{ parcours.numero }}. {{ parcours.nomFr }}</h2>
            <ul data-role="listview" data-inset="true">
            {% for item in parcours.parcoursposition %}
                <li><a href="{{ path('parcours_taxon', { 'numero': item.numero }) }}" rel="external">{{ item.numero }} - {{ item.taxon.nom }}</a></li>
            {% endfor %}
            </ul>
        </div>
	
    </div>
{% endblock %}
