{% extends 'NTEBogartBundle::layout.html.twig' %}

{% block breadcrumb %}
    <ul class="breadcrumbs">
        <li><a href="{{ path('taxon') }}">Accueil</a></li>
        <li class="current"><span>Recherche: '{{ request }}'</span></li>
    </ul>
{% endblock %}

{% block content %}<h1>Résultats de la recherche: '{{ request }}' ({{ count }})</h1>

    {% for entity in entities %}
        <li><a href="{{ path('taxon_show', { 'id': entity.id }) }}">{{ entity }}</a></li>
    {% endfor %}

{% endblock %}
